// Mixins + Variables
@black: black;
@darkGrey: #111016;
@white: white;

@font-face {
  font-family: "titleFont";
  src: url(assets/fonts/BungeeShade-Regular.ttf);
}

@font-face {
  font-family: "subtitle1Font";
  src: url(assets/fonts/BungeeOutline-Regular.ttf);
}

@font-face {
  font-family: "subtitle2Font";
  src: url(assets/fonts/BungeeHairline-Regular.ttf);
}

@font-face {
  font-family: "textFont";
  src: url(assets/fonts/Raleway-VariableFont_wght.ttf);
}

.typographyHeading {
  font-family: "titleFont", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typographySubheading1 {
  font-family: "subtitle1Font", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typographySubheading2 {
  font-family: "subtitle2Font", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typographyBody {
  font-family: "textFont", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.typingWithCursorAnimation {
  font-family: monospace;
  color:#0000;
  background:
    linear-gradient(-90deg,#00DFFC 5px,#0000 0) 10px 0,
    linear-gradient(#00DFFC 0 0) 0 0;
  background-size:calc(var(--n)*1ch) 200%;
  -webkit-background-clip:padding-box,text;
  background-clip:padding-box,text;
  background-repeat: no-repeat;
  animation: 
    b .7s infinite steps(1),   
    t calc(var(--n)*.3s) steps(var(--n)) forwards;
}
@keyframes t{
  from {background-size:0 200%}
}
@keyframes b{
  50% {background-position:0 -100%,0 0}
}

// Typography
.titlePrimary {
  font-size: 36px;
  .typographyHeading();
  color: @black;
}
.titleSecondary {
  font-size: 36px;
  .typographyHeading();
  color: @white;
}

.subtitle1Primary {
  font-size: 18px;
  .typographySubheading1();
  color: @black;
}

.subtitle1Secondary {
  font-size: 18px;
  .typographySubheading1();
  color: @white;
}

.subtitle2Primary {
  font-size: 18px;
  .typographySubheading2();
  color: @black;
}

.subtitle2Secondary {
  font-size: 18px;
  .typographySubheading2();
  color: @white;
}

.textPrimary {
  font-size: 12px;
  .typographyBody();
  color: @black;
}

.textSecondary {
  font-size: 12px;
  .typographyBody();
  color: @white;
}

// Global styles

// Page Layout
body {
  margin: auto 0;
}

.pageContent.not-selected {
  display: none;
}

// Homepage
#homepage-introduction-container {
  width: 100%;
  height: 480px;
  display: flex;
  #image-gallery-introduction {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .titlePrimary {
      margin: auto 0 0 0;
    }
    .subtitle2Primary {
      position: relative;
      left: 240px;
      margin: 0 0 auto 0;
    }
  }
  #homepage-image-gallery {
    width: 40%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    .homepageImage {
      max-width: 200px;
      max-height: 200px;
    }
    #homepage-image-main {
      z-index: 1000000;
      max-width: 360px;
      max-height: 360px;
      grid-column-start: 4;
      grid-column-end: 6;
      grid-row-start: 3;
      grid-row-end: 8;
    }
    #homepage-image-1 {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 2;
      grid-row-end: 4;
    }
    #homepage-image-2 {
      grid-column-start: 8;
      grid-column-end: 12;
      grid-row-start: 2;
      grid-row-end: 4;
    }
    #homepage-image-3 {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 9;
      grid-row-end: 12;
    }
    #homepage-image-4 {
      grid-column-start: 8;
      grid-column-end: 12;
      grid-row-start: 9;
      grid-row-end: 12;
    }
  }
}

#homepage-image-gallery-1 {
  margin-top: 0;
}

#homepage-image-gallery-2 {
  
  margin-bottom: 0;
}
#temporary-side-by-side {
  width: 100%;
  display: flex;
}
.featureBlock {
  width: 100%;
  height: 480px;
  display: flex;
  flex-direction: row;
  div {
    width: 50%;
    height: 100%;
  }
  .featureBlockImageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    #learn-about-me-animation {
      width: 70%;
      font-size: 36px;
    }
  }

  .featureBlockContentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    .blockDescription {
      width: 80%;
      font-size: 14px;
      margin: 0 0 24px 0;
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 120px;
      height: 45px;
      border: none;
      &:hover {
        cursor: pointer;
      }
      p {
        font-size: 16px;
      }
    }
    h1 {
      margin-top: 0;
      font-size: 28px;
    }
  }
}

.blackFeatureBackground {
  background-color: @darkGrey;
  button {
    background-color: @white;
  }
}

.whiteFeatureBackground {
  background-color: @white;
  button {
    background-color: @darkGrey;
  }
}

// About Me
#about_me-introduction {
  width: 100%;
  display: flex;
  justify-content: center;
  #about_me-title {
    font-size: 108px;
  }
}

#about_me-display-image-container {
  display: flex;
  justify-content: center;
  .aboutMeHoverImageHolder {
    width: 50px;
    height: 50px;
    margin: 10px;
    position: relative;
    border: @darkGrey solid 2px;
    :hover {
      cursor: pointer;
    }
    .triangleTint {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      pointer-events: none;
    }
    .triangleTint.Blue {
      border-top: 50px solid rgba(0, 127, 255, 0.8);
      border-right: 50px solid rgba(0, 127, 255, 0.6);
      :hover {
        border-top: 50px solid rgba(255, 56, 0, 0.6);
        border-right: 50px solid rgba(255, 56, 0, 0.8);
      }
    }
    .triangleTint.Orange {
      border-top: 50px solid rgba(255, 56, 0, 0.6);
      border-right: 50px solid rgba(255, 56, 0, 0.8);
      :hover {
        border-top: 50px solid rgba(0, 127, 255, 0.8);
        border-right: 50px solid rgba(0, 127, 255, 0.6);
      }
    }
    .aboutMeHoverImage {
      width: 100%;
      height: 100%;
    }
  }
  #image-collection-left {
    height: 720px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
  }
  #image-collection-right {
    height: 720px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  #about_me-display-frame {
    width: 720px;
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    #about_me-display-image {
      max-width: 100%;
      max-height: 100%;
      border: 7px solid @darkGrey;
    }
  }
}

#about_me-content {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  .about_me-paragraph {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 180px;
    h1 {
      font-size: 36px;
    }
    p {
      font-size: 16px;
    }
  }
}

// Resumé page
#resume-download-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 108px;
  }
  #resume-download-buttons{
    display: flex;
    button{
      width: 360px;
      background-color: @darkGrey;
      margin: 30px;
      :hover {
        cursor: pointer;
      }
      p {
        font-size: 28px;
      }
    }
  }
}

// Navbar
.navbarWrapper {
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  background-color: @darkGrey;
  position: relative;
  #catmachina-logo {
    margin-right: auto;
    font-size: 36px;
    margin-top: 0;
    position: absolute;
    top: -15px;
    left: 10px;
    &:hover {
      cursor: pointer;
    }
  }
  .navbarButton {
    width: 125px;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    text-decoration: none;
    &:hover {
      cursor: pointer;
      p {
        color: lightgrey;
      }
    }
    p {
      font-size: 18px;
    }
  }
}
