.App {
  text-align: center;
  color: white;
}

.Section {
  padding-bottom: 30vh;
}

.HelpMessage {
  position: fixed;
  width: 25vw;
  height: 5vh;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  line-height: 5vh;
  background-color: #283246;
  border: 2px black solid;
  border-radius: 5px;
  animation-name: banner;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

.Introduction {
  background-image: linear-gradient(#223459, #282c34);
  height: 100vh;
  font-size: 10vh;
  text-align: center;
  line-height: 100vh;
}

.AboutMe {
  background-image: linear-gradient(#282c34, #223459);
  height: 100vh;
  display: flex;
  flex-direction: row;
  .AboutMeContent {
    text-align: center;
    width: 40%;
    .AboutMeTitle {
      margin: 20vh 0 5vh 0;
    }
    .AboutMeText {
      padding: 1vh 2vw;
    }
  }
  .LightbulbTicks {
    display: flex;
    flex-direction: row;
    width: 45vh;
    justify-content: space-between;
    .LightbulbTick {
      height: 55px;
      width: 20px;
      background-color: lightgoldenrodyellow;
      box-shadow: 0 0 10px 5px yellow;
    }
  }
  .Profile {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    .ProfilePicture {
      box-shadow: 0 0 30px 15px white;
      background-color: #282c34;
      height: 45%;
      border-radius: 50%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
    }
  
    .Plugs {
      display: grid;
      grid-template-columns: 15vw 15vw;
      .PlugsText {
        text-decoration: underline;
        cursor: pointer;
        color:white;
        &:hover {
          color: lightgrey;
        }
      }
      .PlugsLast {
        grid-column: 1 / 3;
      }
    }
  }

}

@keyframes banner {
  0% {bottom: 0}
  10% {bottom: 50px}
  90% {opacity: 1}
  100% {opacity: 0}
}