.Projects.Odd {
  background-image: linear-gradient(#223459, #282c34);
}

.Projects.Even {
  background-image: linear-gradient(#282c34, #223459);
}

.Projects {
  min-height: 100vh;
  width: 100%;

  .ProjectsTitle {
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .ProjectsList {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
}


.Card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  width: 25vw;
  min-width: 375px;
  height: 60vh;
  background-color: white;
  border-radius: 8px;
  color: black;
  margin: 30px 24px;
  box-shadow: 15px 15px black;
  text-decoration: none;
  transition: 0.5s;
  .CardMedia {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 30vh;
  }
  .CardTitle {
    margin: 6px 12px 6px 6px;
    font-size: 1.5em; 
  }
  .CardSubtitle {
    margin: 0 12px 12px 6px;
    font-size: 1em;
  }
  .CardText {
    margin: 6px 12px 6px 6px;
    font-size: 1em;
  }
}
.Card.Active:hover {
  transform: scale(1.05);
  cursor: pointer;
}